<div class="pos-rel">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
</div>


<div mat-dialog-content>
    <p>Edit user </p>
    
    <div>
        <mat-form-field class="mr-16">
          <mat-label>Firstname</mat-label>
          <input [disabled]="loading" matInput [(ngModel)]="user.firstname">
        </mat-form-field>
    
        <mat-form-field class="mr-16">
          <mat-label>Lastname</mat-label>
          <input [disabled]="loading" matInput [(ngModel)]="user.lastname">
        </mat-form-field>
      </div>
    
      <div>
        <mat-form-field class="mr-16 fullwidth">
          <mat-label>Email</mat-label>
          <input [disabled]="loading" matInput [(ngModel)]="user.email">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="mr-16 fullwidth">
          <mat-label>Birthday</mat-label>
          <input [disabled]="loading" matInput [matDatepicker]="picker1" [(ngModel)]="birthday">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>

</div>

<div mat-dialog-actions>
    <button [disabled]="loading" mat-button (click)="onNoClick()"> Cancel</button>
    <button [disabled]="loading" mat-button (click)="addUser()" cdkFocusInitial> Save </button>
</div>