<div class="pos-rel">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
</div>

<h1 mat-dialog-title>Add new user </h1>
<div mat-dialog-content>
  <p>Enter user </p>

  <div>
    <mat-form-field class="mr-16">
      <mat-label>Firstname</mat-label>
      <input [disabled]="loading" matInput [(ngModel)]="user.firstname">
    </mat-form-field>

    <mat-form-field class="mr-16">
      <mat-label>Lastname</mat-label>
      <input [disabled]="loading" matInput [(ngModel)]="user.lastname">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="mr-16 fullwidth">
      <mat-label>Birthday</mat-label>
      <input [disabled]="loading" matInput [matDatepicker]="picker1" [(ngModel)]="birthday">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="mr-16">
      <mat-label>Address</mat-label>
      <input [disabled]="loading" matInput [(ngModel)]="user.address">
    </mat-form-field>

    <mat-form-field class="mr-16">
      <mat-label>House Number</mat-label>
      <input [disabled]="loading" matInput [(ngModel)]="user.houseNumber">
    </mat-form-field>

  </div>

  <div>
    <mat-form-field class="mr-16">
      <mat-label>Zip Code</mat-label>
      <input [disabled]="loading" matInput [(ngModel)]="user.zipCode">
    </mat-form-field>

    <mat-form-field class="mr-16">
      <mat-label>City</mat-label>
      <input [disabled]="loading" matInput [(ngModel)]="user.city">
    </mat-form-field>
  </div>

</div>

<div mat-dialog-actions>
  <button [disabled]="loading" mat-button (click)="onNoClick()"> Cancel</button>
  <button [disabled]="loading" mat-button (click)="addUser()" cdkFocusInitial> Save </button>
</div>

