<mat-card class="user-profile-header">

  <button mat-icon-button class="position-right" [matMenuTriggerFor]="userMenu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="editUser()">edit</button>
  </mat-menu>

  <img src="./assets/img/user.png">

  <div>
    <h1> {{ user.firstname }} {{ user.lastname }}</h1>
    {{ user.email }}
  </div>
</mat-card>

<mat-card class="mt-32">

  <button mat-icon-button class="position-right" [matMenuTriggerFor]="addressMenu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #addressMenu="matMenu">
    <button mat-menu-item (click)="editAddress()">edit</button>
  </mat-menu>

  <mat-card-title>
    Address
  </mat-card-title>

  <mat-card-content>
    {{ user.address }} {{ user.houseNumber }} <br>
    {{ user.zipCode }} {{ user.city }}
  </mat-card-content>

</mat-card>
